@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  background: #fff
}

div[data-radix-popper-content-wrapper] {
  z-index: 999 !important;
}
