.auto_slider_container {
  /* max-width: 1000px; */
  width: 100%;
  padding-block: 4px;
  display: flex;
  margin: auto;
  overflow: hidden;
}

.auto_slider {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: rotation 30s linear infinite;
}

.auto_slider_container:not(.opposite) .auto_slider {
  animation: rotation 30s linear infinite;
}

.auto_slider_container.opposite .auto_slider {
  animation: rotation-opposite 30s linear infinite;
}

.auto_slider li {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 120px;
  width: 100%;
  /* background: #ddd; */
  margin: 0px 15px;
}

.auto_slider li img {
  max-width: 80px;
  max-height: 80px;
}

.auto_slider li:nth-child(1) img {
  max-width: 72px;
  max-height: 72px;
}

.auto_slider li:nth-child(3) img {
  max-width: 56px;
  max-height: 56px;
}

.auto_slider li:nth-child(5) img {
  max-width: 65px;
  max-height: 65px;
}

.auto_slider_container .auto_slider img {
  animation: img-rotate 30s linear infinite;
}

@keyframes rotation-opposite {
  0% {
    transform: translateX(-100%)
  }

  100% {
    transform: translateX(0)
  }
}

@keyframes rotation {
  0% {
    transform: translateX(0)
  }

  100% {
    transform: translateX(-100%)
  }
}

@keyframes img-rotate {
  from{
    -webkit-transform: rotate(0deg);
  }
  to{
    -webkit-transform: rotate(360deg);
  }
}