.container {
  text-align: center;
}

.greenSection {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(90deg, #131c2a 0%, #021f38 00%, #01122e 100%);
  width: 100%;
  max-width: 1440px;
  height: 595px;
  margin: 0 auto;
  padding: 40px 20px;
  box-sizing: border-box;
  position: relative;
  top: 80px; /* Adjusted to move down for alignment */
}

.optText {
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.buttonsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 40px;
}

.button {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #FFFFFF;
  background-color: #034f89;
  border-radius: 25px;
  padding: 15px 20px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #67b3f6;
}

.azure {
  width: 178px;
  height: 50px;
}

.accelerateAzure {
  width: 236px;
  height: 50px;
}

.managedServices {
  width: 205px;
  height: 50px;
}

.cloudNative {
  width: 344px;
  height: 50px;
}

.generativeAI {
  width: 178px;
  height: 50px;
}

.dataLifecycle {
  width: 280px;
  height: 50px;
}

.cloudMigrations {
  width: 180px;
  height: 50px;
}

.solutions {
  width: 180px;
  height: 50px;
}

.getInTouch {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.circle {
  width: 432px;
  height: 454px;
  border-radius: 50%;
  border: 2px solid #0f0909;;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 80px; /* Adjusted margin to move down */
}

.getInTouchText {
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  background: linear-gradient(90deg, #E5A003, #FBC980, #F89201);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: -190px;
}

.contactInfo {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #FFFFFF;
  text-align: center;
  width: 100%;
  padding: 0 20px; /* Added padding for text inside the circle */
  box-sizing: border-box;
  position: absolute;
  top: 37%; /* Adjusted position */
  transform: translateY(-50%);
}

.partnershipSection {
  margin-top: 100px; /* Increased margin for more space */
  padding: 20px; /* Added padding for responsiveness */
}

.partnershipText {
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  background: linear-gradient(90deg, #e8ffff  0%, #0167b8 20%, #e8fffe  100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 130px;
  margin-bottom: 75px;
  margin-top: 180px;
}

.partnershipLogos {
  display: flex;
  justify-content: center;
  gap: 230px;
  align-items: center;
  flex-wrap: wrap;
}

.arrowIcon {
  position: absolute;
  top: -30px; /* Adjust position as needed */
  left: 50%;
  transform: translateX(-50%);
}

/* Responsive Styles */
@media (max-width: 1440px) {
  .greenSection {
    padding: 20px;
    height: auto; /* Adjust height for responsiveness */
  }

  .optText {
    font-size: 24px;
  }

  .buttonsContainer {
    flex-direction: column;
  }

  .button {
    width: 100%;
    max-width: 344px; /* Adjusted to the widest button */
    margin: 5px 0;
  }

  .getInTouchText {
    font-size: 36px;
  }

  .contactInfo {
    font-size: 14px;
  }

  .circle {
    width: 80%;
    height: auto;
    padding: 20px;
  }

  .partnershipSection {
    padding: 20px;
    margin-top: 50px; /* Adjusted for more space */
  }

  .partnershipLogos img {
    width: 80%;
    height: auto;
  }
}

/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {
  .optText {
    font-size: 18px;
  }

  .getInTouchText {
    font-size: 24px;
  }

  .circle {
    width: 90%;
  }

  .contactInfo {
    font-size: 12px;
  }

  .button {
    padding: 10px;
  }

  .partnershipText {
    font-size: 18px;
  }

  .partnershipLogos img {
    width: 90%;
    height: auto;
  }
}
